/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/
@import (reference) '../styles.less';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@orange: #f29102;
@light-blue: #05e5e5;
@white: #fff;
@dark-gray: #333;
@light-gray: #eee;

@brand-primary: @orange;
@brand-secondary: @light-blue;

@jumbotron-font-sm: 1.5rem;
@background-tile-size: 3.5rem;

@about-section-padding: 4rem;

// Required for overflow problem on Safari
html, body {
    overflow-x: hidden;
}

body {
    background: @dark-gray;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: @white;
}

.btn.btn-link {
    &:focus,
    &:active {
        outline: none;
        color: @link-hover-color;
    }
}

.featured-header.header-wrapper {
    min-height: 100vh;
}

.header-wrapper {
    position: relative;
    background: url('../images/tile.png');
    background-size: @background-tile-size;

    // Grid pattern
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        min-width: 1170px;
        min-height: 100vh;
    }

    &::before {
        left: -100%;
        background: url('../images/gutter-horizontal.png');
        background-size: @background-tile-size;
    }

    &::after {
        left: 100%;
        background: url('../images/gutter-vertical.png');
        background-size: @background-tile-size;
    }
}

.featured-jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    
    p {
        font-size: @jumbotron-font-sm;
    }

    h1 {
        font-size: 3.4rem;
        font-weight: 400;

        &::after {
            display: none;
        }
    }

    h2,
    .h2 {
        margin: 0;
        color: @white;
        font-size: 2rem;
        font-weight: 300;
    }

    .unlock-the-cloud-jumbotron {
        margin-bottom: 4rem;
    }

    .custom-jumbotron-details {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    // Tagline buttons
    li .btn-primary {
        color: @orange;
        background-color: @white;

        &:active,
        &:hover {
            color: @orange;
            background-color: darken(@white, 4%);
        }
    }
}

main, 
.featured-jumbotron {
    .btn-primary {
        padding: 0.8em 4em;
        border: none;
        border-radius: 9999em;
        font-weight: 500;

        &:active, 
        &:hover {
            color: @orange;
            background-color: darken(@white, 4%);
        }
    }
}

// Main
main, 
.unlock-the-cloud-jumbotron {
    .btn-primary {
        color: @white;
        background-color: @orange;

        &:hover,
        &:active {
            color: @white;
            background-color: darken(@orange, 4%);
        }
    }

    h2 {
        color: @brand-primary;
        font-size: 2.4rem;
        text-transform: uppercase;
        text-align: center;
    }

    #about h2 {
        font-size: 3rem;
        font-weight: 500;
    }
}

.featured-section-row-dark-bg {
    background: @gray;
    background-image: none;
}

.cta-links {
    padding-top: 2rem;
    text-align: center;
}

// Registration section

.eclipsefdn-registration-body {
    text-align: left;
}

.unlock-the-cloud-about {
    font-size: 1.2em;
    line-height: 1.55em;
}

.case-study-column {
    padding: @about-section-padding;
    background-color: @light-gray;
}

// Speakers and bio section
.eclipsefdn-user-display-circle, 
.eclipsefdn-user-bios-picture {
    img,
    .img {
        border: none;
        filter: grayscale(100%);
    }
}

// Report page
.report-split-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: @screen-md-min) {
    .report-split-section {
        flex-direction: row;
        padding-left: unset;
        padding-right: unset;

        .report-img-wrapper {
            width: 100%;
            max-height: 100%;
        }

        .report-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
